@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Short+Stack&display=swap');

.formLine {
    margin-top: 8px;
}

.formGroup {
    margin-top: 16px;
}

.formLine input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
}

.formGroup input[type="submit"] {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: #220337;
    color: #ffffff;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

.forgotPassword {
    color: blue;
    font-size: 12px;
}

.passwordContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authSeparator {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    margin-top: 48px;
    margin-bottom: 32px;
}

.authSeparator > span {
    position: relative;
    display: inline-block;
}

.authSeparator > span:before,
.authSeparator > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #c5c5c5;
}

.authSeparator > span:before {
    right: 100%;
    margin-right: 15px;
}

.authSeparator > span:after {
    left: 100%;
    margin-left: 15px;
}

.googleAuthContainer  {
    margin-top: 48px;
}

/* .googleAuthContainer {
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-color: #1a73e8;
    color: white;
    font-weight: bold;
} */

/* .googleAuthContainer div {
    padding-left: 8px;
} */